<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Semester 3</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="particles"></div>

<div class="dashboard-card">

<h2>Semester 3 Subjects</h2>

<div class="semester-grid">

<a href="/resources/Semester 3/BCS301" class="semester-card">BCS301</a>

<a href="/resources/Semester 3/BCS302" class="semester-card">BCS302</a>

<a href="/resources/Semester 3/BCS303" class="semester-card">BCS303</a>

<a href="/resources/Semester 3/BCS304" class="semester-card">BCS304</a>

<a href="/resources/Semester 3/BSCK307" class="semester-card">BSCK307</a>

<a href="/resources/Semester 3/BCS306A" class="semester-card">BCS306A</a>

</div>

<a href="/dashboard" class="back-link">← Back</a>

</div>

</body>
</html>