<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Semester 4</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="particles"></div>

<div class="dashboard-card">

<h2>Semester 4 Subjects</h2>

<div class="semester-grid">

<a href="/resources/Semester 4/BCS401" class="semester-card">BCS401</a>

<a href="/resources/Semester 4/BCS402" class="semester-card">BCS402</a>

<a href="/resources/Semester 4/BCS403" class="semester-card">BCS403</a>

<a href="/resources/Semester 4/BCS405B" class="semester-card">BCS405B</a>

<a href="/resources/Semester 4/BCS456C" class="semester-card">BCS456C</a>

<a href="/resources/Semester 4/BBOK407" class="semester-card">BBOK407</a>

<a href="/resources/Semester 4/BUHK408" class="semester-card">BUHK408</a>

</div>

<a href="/dashboard" class="back-link">← Back</a>

</div>

</body>
</html>