<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Semester 7</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="particles"></div>

<div class="dashboard-card">

<h2>Semester 7 Subjects</h2>

<div class="semester-grid">

<a href="/resources/Semester 7/BCS701" class="semester-card">BCS701</a>

<a href="/resources/Semester 7/BCS702" class="semester-card">BCS702</a>

<a href="/resources/Semester 7/BCS703" class="semester-card">BCS703</a>

<a href="/resources/Semester 7/BCS704" class="semester-card">BCS704</a>

<a href="/resources/Semester 7/BCS705" class="semester-card">BCS705</a>

<a href="/resources/Semester 7/BCS706" class="semester-card">BCS706</a>

</div>

<a href="/dashboard" class="back-link">← Back</a>

</div>

</body>
</html>